.loginForm{
    display: inline-block;
    box-shadow: -3px -3px 9px #aaa9a9a2, 3px 3px 7px rgba(147, 149, 151, 0.671);
    padding: 25px;
    margin-left: 33%;
    margin-top: 40px;
    width: 400px;
    height: auto;
    border-radius: 15px;
    position: relative;
    width: 35%;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(px);
}

.loginRegistration{
    background-color: #93e3ec2a;
}